<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oblivion.tokoonline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.ItemViewDetail"
            />
        <activity android:name=".view.ItemViewByCategory" />
        <activity android:name=".view.category.VehicleActivity" />
        <activity android:name=".view.category.FoodAndDrinkActivity" />
        <activity android:name=".view.category.FashionActivity" />
        <activity android:name=".view.category.BookAndPenActivity" />
        <activity android:name=".view.ChoseCategorySell" />
        <activity android:name=".view.category.AccElectronicActivity" />
        <activity android:name=".view.category.ElectronicActivity" />
        <activity android:name=".view.NextSellActivity" />
        <activity android:name=".view.PickLocationActivity" />
        <activity
            android:name=".view.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.ForgotPassword" />
        <activity android:name=".view.SettingActivity" />
        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
           />
        <activity android:name=".view.RegisterActivity" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7804378578693049~9668929047" />
    </application>

</manifest>